{# templates/user/new.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<p>
<a href="/user/create">New User</a>
</p>
{% endif %}
<table border = 1>
	<tr>
		<td>No</td>
		<td>First name</td>
		<td>Last name</td>
		<td>Email</td>
		<td>Role</td>
		<td>Actions</td>
	</tr>

	{% for key,value in usersData %}

		<tr>
			
		<td> {{ key }} </td>
		<td> {{ value.firstname }}</td>
		<td> {{ value.lastname }}</td>
		<td> {{ value.email }}</td>
		<td> {{ value.roles[0] }}</td>
		<td> <a href="/user/edit/{{ value.id }}">Edit</a></td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
